<div class="scrollable" xmlns="http://www.w3.org/1999/html">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <h3>Welcome</h3>
                    <p><strong>MOOCs4U</strong> - Free online courses, aka <strong>Massive Open Online Courses</strong> (MOOCs) from different providers in one place.</p>
                    <p>In this app you will be able to:</p>
                    <ol>
                        <li>
                            <strong>Find</strong> MOOCs from the <strong>best universities in the world</strong>, such as <strong>Harvard</strong>, <strong>MIT</strong>, <strong>Stanford</strong> and others, offered via platforms such as Coursera, Udacity, edX and others. More platforms will be added soon.<br/>
                        </li>
                        <li>
                            <strong>Access</strong> to course details such as course summary, start date, prerequisites and introductory videos to help you decide whether to sign up.
                        </li>
                        <li>
                            <strong>Sign</strong> up for the MOOC of your choice by just tapping the <strong>Sign Up</strong> button.
                        </li>
                        <li>
                            <strong>Organize</strong> MOOCs into those that you have just signed up for and those that you have completed.
                        </li>
                        <li>
                            <strong>Add</strong> your favorite MOOCs to a <strong>WatchList</strong>.
                        </li>
                        <li>
                            <strong>Rate</strong> MOOCs to help others make their choices.
                        </li>
                        <li>
                            <strong>Share</strong> MOOCs via Facebook, twitter and email.
                        </li>
                        <li>
                            <strong>Chat</strong> with other MOOC students in the spirit of peer-to-peer collaborative learning
                        </li>
                        <li>
                            <strong>Keep up-to</strong>-date with the fast moving MOOCs world by reading the most important <strong>MOOCs news</strong>.
                        </li>
                    </ol>
            </div>
        </div>
    </div>
</div>