<div class="list-group">
    <div class="list-group-item">
        <h3>{{category.name}}</h3>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <a class="list-group-item media" href="#/course/{{c.id}}" ng-repeat="c in category.courses">
                <div class="pull-left">
                    <img src="{{c.icon}}" style="width: 100px">
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><strong>{{ c.name }}</strong></h5>
                    <p><small class="text-muted">{{ c.university }}</small></p>
                    <i class="fa fa-chevron-right pull-right"></i>
                    <span class="label label-success"><i class="fa fa-user"></i> {{c.instructor}}</span>
                </div>
            </a>
        </div>
    </div>
</div>